h1 {
    text-align: center;
    margin-bottom: 50px;
}

.btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 300px;
    height: 200px;
}
.score {
    text-align: center;
    margin: 100px;
}

.victory {
    text-align: center;
    margin: 100px;
}